
<!-- Footer -->
<footer id="footer" style="padding: 0">
	<div class="inner" style="display: none;">
		<div class="flex flex-3">
			<div class="col">
				<h3>Vestibullum</h3>
				<div class="video">
					<div class="image fit">
						<img src="images/banner.gif" alt="" />
						<div class="arrow">
							<div class="icon fa-play"></div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="col">
				<h3>Lobortis</h3>
				<ul class="alt">
					<li><a href="#">Nascetur nunc varius commodo.</a></li>
					<li><a href="#">Vis id faucibus montes tempor</a></li>
					<li><a href="#">Massa amet lobortis vel.</a></li>
					<li><a href="#">Nascetur nunc varius commodo.</a></li>
				</ul>
			</div>
			<div class="col">
				<h3>Accumsan</h3>
				<ul class="alt">
					<li><a href="#">Nascetur nunc varius commodo.</a></li>
					<li><a href="#">Vis id faucibus montes tempor</a></li>
					<li><a href="#">Massa amet lobortis vel.</a></li>
					<li><a href="#">Nascetur nunc varius commodo.</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright">
		<ul class="icons">
			<li><a href="http://weibo.com/512330762" class="icon fa-weibo" target="_blank"><span class="label">weibo</span></a></li>
			<li><a href="https://github.com/yexk" class="icon fa-github" target="_blank"><span class="label">github</span></a></li>
			<li><a href="#" class="icon fa-weixin"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-qq"><span class="label">Instagram</span></a></li>
		</ul>
		Copyright &copy; 2016.Company name All rights reserved. <a  href="mailto:admin@yexk.cn">admin@yexk.cn</a>
	</div>
</footer>

<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.scrolly.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/util.js"></script>
<script src="js/main.js"></script>

</body>
</html>