<!DOCTYPE HTML>
<html>
<head>
<title>[title] - Yexk</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="[keywords]" />
<base href="{$baseurl}">
<link rel="stylesheet" href="css/main.css" />
</head>
<body>

<!-- Header -->
<header id="header">
	<h1><a href="/">私人空间 <span>by Yexk</span></a></h1>
	<a href="#menu">菜单</a>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
		<li><a href="/">首页</a></li>
		<li><a href="{:url('index/blog/blogList')}">博客</a></li>
		<li><a href="elements.html">关于Yexk</a></li>
	</ul>
</nav>
