/* public style */
.font-red{color: #f00 !important;}


/* md sytle  */
.markdown-body{color: #ccc; background-color: transparent !important;}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6{color: #ddd !important;border-color: #666;}

.markdown-body hr{border-color: #666 !important;}

.markdown-body blockquote{color: #aaa;}

.markdown-body table thead tr{background-color: transparent;}
.markdown-body table tr:nth-child(2n){background-color: transparent;}


