{include file='public/header' title='博客'}
<!-- Main -->
<div id="main">

<!-- One -->
	<section class="wrapper style1">
		<div class="inner">
			<header class="align-center">
				<h2>哈哈时间哈哈时间哈哈时间哈哈时间哈哈时间：</h2>
				<p>时间：<code>2016年11月30日15:02:38</code> 作者：<code>admin</code> 阅读：<code>10</code> 赞：<code>10</code></p>
			</header>
			<div class="box">
						<p>
					w册阅读须知：本手册仅针对ThinkPHP5.0版本（使用左右键（<-- 和 -->）翻页阅读）
					号外：双十一官方入门系列教程限时特价11.1针对ThinkPHP5.0版本（使用左右键（<-- 和 -->）翻页阅读）
					号外：双十一官方入门系列教程限时特价11.1
									</p>
			</div>
								<p>手册阅读须知：本手册仅针对ThinkPHP5.0版本（使用左右键（<-- 和 -->）翻页阅读）
					号外：双十一官方入门系列教程限时特价11.11p
					</p><p>
					ThinkPHP V5.0——为API开发而设计的高性能框架
					</p><p>

					V5.0版本由七牛云独家赞助发布
					</p><p>
					<img src="images/banner1.jpg" alt="">

					ThinkPHP是一个免费开源的，快速、简单的面向对象的轻量级PHP开发框架，是为了敏捷WEB应用开发和简化企业应用开发而诞生的。ThinkPHP从诞生以来一直秉承简洁实用的设计原则，在保持出色的性能和至简的代码的同时，也注重易用性。遵循Apache2开源许可协议发布，意味着你可以免费使用ThinkPHP，甚至允许把你基于ThinkPHP开发的应用开源或商业产品发布/销售。
					</p><p>
					ThinkPHP5.0版本是一个颠覆和重构版本，采用全新的架构思想，引入了更多的PHP新特性，优化了核心，减少了依赖，实现了真正的惰性加载，支持composer，并针对API开发做了大量的优化，包括路由、日志、异常、模型、数据库、模板引擎和验证等模块都已经重构，不适合原有3.2项目的升级，请慎重考虑商业项目升级，但绝对是新项目的首选（无论是WEB还是API开发）。
					主要特性：
					</p><p>
					规范：遵循PSR-2、PSR-4规范，Composer及单元测试支持；
					严谨：异常严谨的错误检测和安全机制，详细的日志信息，为你的开发保驾护航；
					灵活：减少核心依赖，扩展更灵活、方便，支持命令行指令扩展；
					API友好：出色的性能和REST支持、远程调试，更好的支持API开发；
					高效：惰性加载，及路由、配置和自动加载的缓存机制；
					ORM：重构的数据库、模型及关联，MongoDb支持；
					</p><p>
					支持ThinkPHP5的用户请到 Github 给我们一个star ^_^
					<img src="images/12.png" alt="">
					本手册不能替代教程，新手建议先</p>

				<p>
				<hr>
				<ul class="icons" style="text-align: center;">
					<li><a href="#" class="icon fa-heart" style="font-size: 26pt"><span class="label"></span></a></li>
				</ul>
			</p>
		</div>
	</section>

<!-- Three -->
	<section class="wrapper ">
		<div class="inner">
			<header class="align-center">
				<h2>Aliquam ipsum purus dolor</h2>
				<p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
			</header>

			<!-- 3 Column Video Section -->
				<div class="flex flex-3">
					<div class="video col">
						<div class="image fit">
							<img src="images/pic09.jpg" alt="" />
							<div class="arrow">
								<div class="icon fa-play"></div>
							</div>
						</div>
						<p class="caption">
							Cras eget lacus sed mauris scelerisque tincidunt
						</p>
						<a href="generic.html" class="link"><span>Click Me</span></a>
					</div>
					<div class="video col">
						<div class="image fit">
							<img src="images/pic10.jpg" alt="" />
							<div class="arrow">
								<div class="icon fa-play"></div>
							</div>
						</div>
						<p class="caption">
							Vivamus vulputate lacus non massa auctor lobortis
						</p>
						<a href="generic.html" class="link"><span>Click Me</span></a>
					</div>
					<div class="video col">
						<div class="image fit">
							<img src="images/pic11.jpg" alt="" />
							<div class="arrow">
								<div class="icon fa-play"></div>
							</div>
						</div>
						<p class="caption">
							Nam eu nisi non ante sodales interdum a vitae neque
						</p>
						<a href="generic.html" class="link"><span>Click Me</span></a>
					</div>
				</div>
		</div>
	</section>

</div>

{include file='public/footer'}