{include file='public/header' title='首页'}
<!-- Banner -->
<!--
	To use a video as your background, set data-video to the name of your video without
	its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
	formats to work correctly.
-->
	<section id="banner" data-video="images/banner">
		<div class="inner">
			<header>
				<h1>为了简约而不简单！</h1>
				<p>Don't try so hard, the best things come when you least expect them to. <br>
					不要着急，最好的总会在最不经意的时候出现。</p>
			</header>
			<a href="#main" class="button big alt scrolly">SHOW TIME</a>
		</div>

	</section>

<!-- Main -->
<div id="main">

<!-- Three -->
	<section class="wrapper style1">
		<div class="inner">
			<header class="align-center">
				<h2>热门文章</h2>
				<p>一段走心的文字。<code><?php echo date('Y-m-d'); ?> </code></p>
			</header>

			<!-- 3 Column Video Section -->
			<div class="flex flex-3">
			<?php foreach ($article as $k => $v): ?>
				
				<div class="video col">
					<div class="image fit">
						<?php if (empty($v['thumb'])): ?>
							<img src="images/pic01.jpg" alt="" />
						<?php else: ?>
							<img src="<?php echo $v['thumb'] ?>" alt="" />
						<?php endif ?>
						<div class="arrow">
							<div class="icon fa-play"></div>
						</div>
					</div>
					<p class="caption">
						<?php echo '【' . date('Y-m-d',strtotime($v['create_time'])) . '】' . $v['title'] ?>
					</p>
					<a href="{:url('index/Blog/blog',['id'=>$v['id']])}" class="link"><span>Click Me</span></a>
				</div>
			<?php endforeach ?>
			</div>
		</div>
	</section>
<!-- One -->
	<section class="wrapper style2">
		<div class="inner">
			<header class="align-center">
				<h2>最新文章</h2>
				<p>人生的每次相遇都是一次精心的安排。<code><i class="icon fa-heart"></i></code></p>
			</header>
			<!-- 2 Column Video Section -->
			<div class="flex flex-4">
				<?php foreach ($article_new as $k => $v): ?>
					<div class="video col">
						<div class="image fit">
							<?php if (empty($v['thumb'])): ?>
								<img src="images/pic01.jpg" alt="" />
							<?php else: ?>
								<img src="<?php echo $v['thumb'] ?>" alt="" />
							<?php endif ?>
							<div class="arrow">
								<div class="icon fa-play"></div>
							</div>
						</div>
						<p class="caption">
							<?php echo '【' . date('Y-m-d',strtotime($v['create_time'])) . '】' . $v['title'] ?>
						</p>
						<a href="{:url('index/Blog/blog',['id'=>$v['id']])}" class="link"><span>Click Me</span></a>
					</div>
				<?php endforeach ?>
			</div>
		</div>
	</section>
</div>
{include file='public/footer'}
