{include file='public/header' title='博客'}
<link rel="stylesheet" href="/admin/assets/js/markdown/css/editormd.preview.min.css">
<link rel="stylesheet" href="css/yexk.css" />
<!-- <link rel="stylesheet" href="/admin/assets/js/markdown/css/editormd.css"> -->
<!-- Main -->
<div id="main">
<!-- One -->
	<section class="wrapper style2">
		<div class="inner">
			<header class="align-center">
				<h2><?php echo $art['title']; ?></h2>
				<p>时间：<code><?php echo $art['create_time'] ?></code> 作者：<code><?php echo $art['username'] ?></code> 阅读：<code><?php echo $art['read_num']; ?></code> 赞：<code><?php echo $art['like_num']; ?></code></p>
			</header>
			<div class="box">
				<p><?php echo $art['desc']; ?></p>
			</div>

			<img src="<?php echo $art['thumb'] ?>" alt="">

			<div class="content" id="content">
				<textarea><?php echo $art['content']; ?></textarea>
			</div>
			<p>
				<hr>
				<ul class="icons" style="text-align: center;">
					<li><a id="like_btn" class="icon fa-heart" style="cursor: pointer;font-size: 26pt"><span class="label"></span></a></li>
				</ul>
			</p>
		</div>
	</section>

<!-- Three -->
	<section class="wrapper style1">
		<div class="inner">
			<header class="align-center">
				<h2>相关推荐</h2>
				<p></p>
			</header>
			<!-- 3 Column Video Section -->
				<div class="flex flex-3">
					
				<?php foreach ($recommend as $k => $v): ?>
					<div class="video col">
						<div class="image fit">
							<?php if (empty($v['thumb'])): ?>
								<img src="images/pic01.jpg" alt="" />
							<?php else: ?>
								<img src="<?php echo $v['thumb'] ?>" alt="" />
							<?php endif ?>
							<div class="arrow">
								<div class="icon fa-play"></div>
							</div>
						</div>
						<p class="caption">
							<?php echo '【' . date('Y-m-d',$v['create_time']) . '】' . $v['title'] ?>
						</p>
						<a href="{:url('index/Blog/blog',['id'=>$v['id']])}" class="link"><span>Click Me</span></a>
					</div>
				<?php endforeach ?>
						
				</div>
		</div>
	</section>

</div>

{include file='public/footer'}

<script src="/admin/assets/js/markdown/lib/marked.min.js"></script>
<script src="/admin/assets/js/markdown/lib/prettify.min.js"></script>
<script src="/admin/assets/js/markdown/lib/raphael.min.js"></script>
<script src="/admin/assets/js/markdown/lib/underscore.min.js"></script>
<script src="/admin/assets/js/markdown/lib/sequence-diagram.min.js"></script>
<script src="/admin/assets/js/markdown/lib/flowchart.min.js"></script>
<script src="/admin/assets/js/markdown/lib/jquery.flowchart.min.js"></script>
<script src="/admin/assets/js/markdown/editormd.js"></script>

<script type="text/javascript">
	editormd.markdownToHTML("content");

	$(function(){
		$('#like_btn').on('click', function(event) {
			if (! $(this).hasClass('font-red'))
			{
				var that = this;
				$.ajax({
					url: '{:url("index/blog/setIncLikeNum")}',
					type: 'POST',
					dataType: 'json',
					data: {"id":'<?php echo $art['id'] ?>'},
					success:function(data){
						console.log(data);
						if (1 == data.code)
						{
							$(that).addClass('font-red');
						}else{
							
						}
					}
				});
			}
		});
	});

</script>