{include file='public/header'}
<!-- Imported styles on this page -->
<link rel="stylesheet" href="assets/js/datatables/dataTables.bootstrap.css">

<div class="row">
	<div class="col-md-12">
				<!-- Removing search and results count filter -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">文章修改</h3>
					
					<div class="panel-options">
						<!-- <a href="#" data-toggle="panel">
							<span class="collapse-icon">&ndash;</span>
							<span class="expand-icon">+</span>
						</a> -->
						<!-- <a href="#" data-toggle="remove">
							&times;
						</a> -->
					</div>
				</div>
				<div class="panel-body">
									
					<table class="table table-bordered table-striped" id="article_tables">
						<!-- datatable -->
					</table>
					
				</div>
			</div>
		<!-- 。。。 -->
		
	</div>
</div>

{include file='public/footer'}
<!-- Imported scripts on this page -->
<script src="assets/js/datatables/js/jquery.dataTables.min.js"></script>
<script src="assets/js/datatables/dataTables.bootstrap.js"></script>

<script type="text/javascript">
toastr.options = {
  "closeButton": false,
  "debug": false,
  "positionClass": "toast-bottom-right",
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}

jQuery(document).ready(function($)
{
	$("#article_tables").dataTable({
		"processing": true,
        "serverSide": true,
        "ajax" : {
            "url": '{:url("admin/Article/read")}',
            "type": "POST",
            "dataType":'json'
        },
        "columns": [
            { "data": "id" , "title" : "ID" },
            { "data": "title" , "title" : "标题" , "orderable": false},
            { "data": "desc" , "title" : "描述" , "orderable":false },
            { "data": "create_time" , "title" : "发布时间" },
            { "data": "read_num" , "title" : "阅读数量" },
            { "data": "like_num" , "title" : "点赞数量" },
            { "data": "edit" , "title" : "编辑","render":function(val){
                return '<a href="/admin/Article/modify/'+val+'" class="btn btn-secondary btn-sm btn-icon icon-left" > 编辑 </a>\
                        <a href="javascript:;" class="btn btn-danger btn-sm btn-icon icon-left" onclick="del('+val+')"> 删除 </a>\
                        <a href="javascript:;" class="btn btn-info btn-sm btn-icon icon-left"> 详情 </a>';
            }, "orderable": false }
        ],
        "language" : {
            "lengthMenu":     "每页 _MENU_ 显示",
            "search":         "文章标题：",
            "info":           "显示 _START_ 到 _END_ 条，共 _TOTAL_ 条",
            "loadingRecords": "加载中...",
            "processing":     "执行中...",
        }
	});
});


function del(id) {
    $.ajax({
        url: '{:url("admin/Article/del")}',
        type: 'POST',
        dataType: 'json',
        data: {"id":id},
        success:function(data){
            if (1 == data.code) 
            {
                toastr.success(data.msg);
                setTimeout(function(){
                    location.href = location.href;
                },2000);
            }
            else
            {
                toastr.error(data.msg);
            }
        }
    })
}
</script>