<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>控制台 - TOTOLINK后台管理 </title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="__ADMIN__/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__ADMIN__/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<link rel="stylesheet" href="__ADMIN__/assets/css/jquery-ui-1.10.3.full.min.css" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/datepicker.css" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/ui.jqgrid.css" />

		<!-- fonts -->

		<link rel="stylesheet" href="__ADMIN__/assets/css/font_css.css" />

		<!-- ace styles -->

		<link rel="stylesheet" href="__ADMIN__/assets/css/ace.min.css" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__ADMIN__/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->
		

		<!-- ace settings handler -->

		<script src="__ADMIN__/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__ADMIN__/assets/js/html5shiv.js"></script>
		<script src="__ADMIN__/assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
